a {
    color: white;
}

/* use this background for bigger screens, and cut down to just the bird on smaller screens */
/* body {
    position: relative;
    background-image: url("../images/Bright\ Consulting_Background.jpg");
    background-repeat:no-repeat;
    background-size:100% 100vh;
} */

.card-body {
    background-color: black;
}

footer {
    text-align: center;
    color: white;
    position: fixed;
    height: 5vh;
    bottom: 0;
    width: 100%;
    background-color: black;
}

.form-group {
    width: 93vw;
}

#home {
    min-height: 69vh;
}

.landing {
    margin-bottom: 3%;
}
#logo2 {
    display: none;
}

.menu {
    font: white;
}

#menu {
    background-color: black;
}

#menu_toggler {
    border: solid;
    border-color: white;
}

.parallax {
    /* The image used */
    background-image: url('../images/Bright\ Consulting_Background.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size:100% 100vh;
}

.parallax2 {
    /* The image used */
    background-image: url('../images/Bright\ Consulting_Background.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size:100% 100vh;
}

.pic {
    height:55vh;
    width: auto;
    border-radius: 5px;
}

.promo_pic {
    min-height: 50vh;
    max-height: 35vh;
}

.section {
    color: white;
    border: solid;
    border-color: white;
    min-height: 70vh;
    background-color: black;
    padding: 2%;

}

.section2 {
    color: white;
    border: solid;
    border-color: white;
    min-height: 20vh;
    max-height: 80vh;
    background-color: black;
    padding: 2%;

}

.section-header {
    text-align: center;
}

@media (min-width: 992px) { 
    body, html {
        height: 100%;
        background-color: black;
    }

    #home {
        display: none;
    }
}

/* put media query to switch to just the bird on mobile devices */
@media (max-width: 767.98px) { 

    .landing {
        position: relative;
        background-image: url("../images/Bright\ Consulting_Logo.jpg");
        background-repeat:no-repeat;
        background-size:100% 100vh;
    }  

    #logo1 {
        display: none;
    }

    #logo2 {
        display: inline;
    }
    #home {
        border: none;
    }

    #menu {
        /* justify-content: right; */
        background-color: black;
        opacity: .9;
        /* top: 0;*/
        /* width: 100%; */
    }

    #navbarNav {
       text-align: right;
    }

    .parallax, .parallax2 {
        display: none;
    }
    .pic {
        height:40vh;
        width: auto;
        border-radius: 5px;
    }

    .service_card {
        margin-bottom: 10%;
    }

    #logo{
        padding-left: 2vw;
    }

    .section {
        color: white;
        text-align: center;
        border: none;
    }

    .section1 {
        padding-top: 30vh;
    }

    .section2 {
        max-height: 250%;
        border: none;
    }

    .content {
        background: grey;
    }

    #menu_toggler {
        border: solid;
        border-color: white;
    }
    

}